<!DOCTYPE html>
<html>
<head>
	<title>Movie Reviews</title>
</head>
<body>
<h1>Movie Reviews</h1>
<h2>Add a review</h2>
<form action="{{ url_for('add_review') }}" method="post">
	<label>Movie title:</label>
	<input type="text" name="movieTitle"><br>
	<label>Your review:</label><br>
	<textarea name="review">{
            "user_name": "qwjghjge",
            "review_id": "eqghjjwe",
            "reviewer": "eqgjhje",
            "movie": "eqwertte",
            "rating": "eqertertertw",
            "review_summary": "eqhjgwe",
            "review_date": "weqgdfge",
            "review_detail": "qwejghje",
            "helpful":"eqwjghe" ,
            "created_at": "eqwjghjge"
        }</textarea><br>
	<input type="submit" value="Submit Review">
</form>
<h2>Search for a review</h2>
<form>
	<label>Movie title:</label>
	<input type="text" name="searchMovie"><br>
	<input type="submit" value="Search">
</form>
<h2>View review</h2>
 {% for item in data %}


<p>Movie title:{{item.movie }} <span id="viewMovieTitle"></span></p>
<p>Review: {{ item }}<span id="viewReview"></span></p>
 {% endfor %}


<h2>Delete review</h2>
<form>
	<label>Movie title:</label>
	<input type="text" name="deleteMovie"><br>
	<input type="submit" value="Delete">
</form>
<h2>Edit review</h2>
<form>
	<label>Movie title:</label>
	<input type="text" name="editMovie"><br>
	<label>Your updated review:</label><br>
	<textarea name="updatedReview"></textarea><br>
	<input type="submit" value="Update Review">
</form>
</body>
</html>