{% extends "home.html" %}
{% block content %}
    {{ data }}
{% for item in data.0 %}
<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
              <div name = "next_page_state" class="hidden" style="display: none">{{ data.next_page_state }}</div>
              <div class="hidden" style="display: none">{{ item.review_id }}</div>
            <div class="hidden">{{ item.reviewer }}<i class="ri-stack-line"></i></div>
              <form action="{{ url_for('get_review') }}" method="POST">
              <h4 class="title">
                  <input type="hidden" name="reviewid"  value="{{ item.review_id }}">
                  <a>{{ item.movie}}</a>

              </h4>
              <h5 class="rating"><b>Rating:</b> {{ item.rating}}</h5>
            <p class="description">{{ item.review_summary }}</p>
              <button type="submit" value="submit" name="submit"></button>
              </form>
          </div>
        </div>
{% endfor %}
{% endblock %}
